:root {
  --bg-color: #ffffff;
  --text-color: #111827;
  --navbar-bg: #f9fafb;
  --navbar-text: #111827;
}

.dark {
  --bg-color: #111827;
  --text-color: #ffffff;
  --navbar-bg: #1f2937;
  --navbar-text: #ffffff;
}


body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: var(--navbar-bg);
  color: var(--navbar-text);
}
